<!-- <p>
	父组件
</p>
<input type="text" [(ngModel)] = "parentsSearch">

<p>
	搜索关键字为：{{parentsSearch}}
</p>
<p>
	当前价格：{{currentPrice | number : '2.2-2'}}
</p>

<app-stock-search [keyword]="parentsSearch" (price)="searchResultHandler($event)"></app-stock-search>

<hr/>

<app-stock-search [keyword]="parentsSearch" (addCart)="addCartHandler($event)"></app-stock-search>

<hr />
<app-stock-cart [stockInfo]="stockInfo"></app-stock-cart> -->
<!-- <input type="text"  [(ngModel)] = 'title'>
<app-life [name]="title"></app-life> -->

<!-- <app-parents></app-parents> -->

<!-- <app-afterview></app-afterview> -->
<!-- <app-red-border>
	<div class="red">投影红框内容 {{title}}</div>
	<div class="green">投影绿框内容</div>
</app-red-border> -->

<!-- <app-content></app-content> -->
<a [routerLink]="['/']">child</a>
<a [routerLink]="['/routerchild1']">child</a>
<router-outlet></router-outlet>